.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__image {
        border-radius: 10px;
        display: inline-block;
        height: auto;
        max-width: 100%;

        @media (min-width: 960px) {
            width: 1000px;
            height: 600px;
        }
    }

    &__right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3em;
        color: #3f51b5;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    &__left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3em;
        color: #3f51b5;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    &__slide {
        opacity: 0;
        transition-duration: 1s ease;

        &.active {
            opacity: 1;
            transition-duration: 1s;
            transform: scale(1.08);
        }
    }

    &__counter {
        position: absolute;
        bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #3f51b5;
    }
}